<% provide :title, t("about") %>
<h1><%= t :about %></h1>
<p>
  <%= link_to "https://www.railstutorial.org/" do %> <em><%= t :rort %></em><%= t :isa %><% end %>
  <%= link_to t("book"), "https://www.railstutorial.org/book" %> <%= t :and %>
  <%= link_to t("scr"), "http://screencasts.railstutorial.org/" %>
    <%= t :todev %>
  <%= link_to t("ror"), "http://rubyonrails.org/" %>
  <%= t :thisis %>
</p>
