<% provide :title, t("help") %>
<h1><%= t(:help) %></h1>
<p>
  <%= t :get %>
  <a href="https://www.railstutorial.org/book"><%= t :hp %></a>
  <%= t :tot %>
  <a href="https://www.railstutorial.org/book"><em><%= t :rort %></em> <%= t :book %></a>
</p>
