<% provide :title, t "help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%=yield :title  %> <%= t :title_help %></title>
  </head>
  <body>
    <h1><%= t :help %></h1>
    <p>
      <%= t :get %>
      <a href="https://www.railstutorial.org/book"><%= t :rthp %></a>
      <%= t :toget %>
      <a href="https://www.railstutorial.org/book"><em><%= t :rort %></em>book</a>
    </p>
  </body>
</html>
