<% provide :title, t "home") %>
<!DOCTYPE html>
<html>
  <header>
    <title><%=yield :title %> <%= t :title_home %></title>
  </header>
  <body>
    <h1><%= t :sam %></h1>
    <p>
      <%= t :thisis2 %>
      <a href="https://www.railstutorial.org/"><%= t :rort %></a>
      <%= t :sam %>
    </p>
  </body>
</html>
