<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %><%= t :title_app %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <h2>
      <%= link_to "English", locale: "en" %>
      <%= link_to "Vietnamese", locale: "vi" %>
    </h2>
    <div class="container">
      <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
